<header>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to 'Picture In A Pi', controller: '/pages', :class=>"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Boards', controller: '/boards' %></li>
      <!--  <li><%= link_to 'VBoards', controller: '/vboards' %></li>-->
      </ul>
    </div>
  </div>
</nav>

</header>
