<%= render 'shared/header' %>
  <div class="container">
    <p>Install unclutter to hide the mouse</p>
    <code contenteditable spellcheck="false">
     sudo apt-get install unclutter
    </code>
    <p>Install xdotools to autorefresh chromium</p>
    <code contenteditable spellcheck="false">
     sudo apt-get install xdotools
    </code>
    <p>Test block</p>
    <pre class="code-pre command"><code langs=""><ul class="prefixed"><li class="line" prefix="$">sudo apt-get update
</li></ul></code></pre>
  </div>
