// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  width: 100vw;
  height: 100vh;
}
.img-fluid {
  width: 100%;
  height: 100%;   

}
.vid-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}
.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,.125);
  float: left;
  height: auto;
}
.card-img-top {
  width: 100%;
  height: 75%
}
